In [ ]:
# 1.create a variables with your family members?
# 2. create a set with your friends names?
# 3.create a tuple with favourite places and print your favourite place?
# 4.createa a list with your food names and print your favourite food name?

#12. tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"], write a program?
# expected output:tollywood_heros=["chiranjeevi", "balakrishan", "nagarjuna","venky","pawan kalyan","maheshbabu","NT rama rao","ramcharan"]

In [ ]:
# 1. create a dict with your family names and relation?
# 2.create a dict with month names and month number and print december month_name and december month number?
# 3.create a dict with flower names and flower colour and print red colour flowers and red colour flower names?

In [ ]:
1.create a set with your family members and print your favourite one? 
2.cretae a tuple with colour names and print fav colour?

In [ ]:
Jayasri_Task's

In [ ]:
# 1.create a variables with your family members?

In [1]:
family_member1="Md. Ali"
family_member1

'Md. Ali'

In [2]:
family_member2="Balkis Jaha"
family_member2

'Balkis Jaha'

In [3]:
family_member3="Shahnaz Begum"
family_member3

'Shahnaz Begum'

In [4]:
family_member4="Afzal Shaw"
family_member4

'Afzal Shaw'

In [5]:
family_member5="Shakeela Begum"
family_member5

'Shakeela Begum'

In [ ]:
#--------------->set{}

In [ ]:
# 2. create a set with your friends names?

In [6]:
friends_names={"Aliya","Jameea","Thabassum","Jarina","Sharmila"}
friends_names

{'Aliya', 'Jameea', 'Jarina', 'Sharmila', 'Thabassum'}

In [ ]:
#---------------->tuple()

In [ ]:
# 3.create a tuple with favourite places and print your favourite place?

In [7]:
favourite_places=("Vijayawada","Hyderabad","Visakhapatnam","Kakinada","Bangalor")
favourite_places

('Vijayawada', 'Hyderabad', 'Visakhapatnam', 'Kakinada', 'Bangalor')

In [8]:
print("My favourite place is:",favourite_places[1])

My favourite place is: Hyderabad

In [ ]:
#-------------------->list[]

In [ ]:
# 4.createa a list with your food names and print your favourite food name?

In [9]:
Food_names=["Dosa","Idly","Puri","Chapathi","Mysoor bajji"]
Food_names

['Dosa', 'Idly', 'Puri', 'Chapathi', 'Mysoor bajji']

In [10]:
 print ("My Favourite Food name is:",Food_names [2])

My Favourite Food name is: Puri

In [ ]:

# 12. tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"], write a program?
# expected output:tollywood_heros=["chiranjeevi", "balakrishan", "nagarjuna","venky","pawan kalyan","maheshbabu","NT rama rao","ramcharan"]

In [11]:
Tollywood_heros=["chiru", "balaya", "nag","venky","powerstar","superstar","ntr","ramcharan"]
Tollywood_heros

['chiru',
 'balaya',
 'nag',
 'venky',
 'powerstar',
 'superstar',
 'ntr',
 'ramcharan']

In [12]:
Tollywood_heros[0]="chiranjeevi"
Tollywood_heros[0]

'chiranjeevi'

In [13]:
Tollywood_heros[1]="balakrishan"
Tollywood_heros[1]

'balakrishan'

In [14]:
Tollywood_heros[2]="nagarjuna"
Tollywood_heros[2]

'nagarjuna'

In [15]:
Tollywood_heros[3]="venky"
Tollywood_heros[3]

'venky'

In [16]:
Tollywood_heros[4]="pawan kalyan"
Tollywood_heros[4]

'pawan kalyan'

In [17]:
Tollywood_heros[5]="maheshbabu"
Tollywood_heros[5]

'maheshbabu'

In [18]:
Tollywood_heros[6]="NT rama rao"
Tollywood_heros[6]

'NT rama rao'

In [19]:
Tollywood_heros[7]="ramcharan"
Tollywood_heros[7]

'ramcharan'

In [20]:
print(Tollywood_heros)

['chiranjeevi', 'balakrishan', 'nagarjuna', 'venky', 'pawan kalyan', 'maheshbabu', 'NT rama rao', 'ramcharan']

In [21]:
Tollywood_heros

['chiranjeevi',
 'balakrishan',
 'nagarjuna',
 'venky',
 'pawan kalyan',
 'maheshbabu',
 'NT rama rao',
 'ramcharan']

In [ ]:
# 1. create a dict with your family names and relation?
# 2.create a dict with month names and month number and print december month_name and december month number?
# 3.create a dict with flower names and flower colour and print red colour flowers and red colour flower names?

In [ ]:
#----------------> dict={key:key values}

In [ ]:
# 1. create a dict with your family names and relation?

In [22]:
dict={"family_names":["Md.Ali","Balkis Jaha","Shahnaz Begum","Afzal Shaw","Shakeela Begum"],"Relations":["Father","Mother","Sister","Brother","Sister"]}
dict

{'family_names': ['Md.Ali',
  'Balkis Jaha',
  'Shahnaz Begum',
  'Afzal Shaw',
  'Shakeela Begum'],
 'Relations': ['Father', 'Mother', 'Sister', 'Brother', 'Sister']}

In [ ]:
# 2.create a dict with month names and month number and print december month_name and december month number?

In [23]:
dict1={"Month_names":["January","February","March","April","May","June","July","August","September","October","November","December"],"Numbers":[1,2,3,4,5,6,7,8,9,10,11,12]}
dict1

{'Month_names': ['January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'],
 'Numbers': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]}

In [24]:
print("December Month Number is:",dict1["Numbers"][11])

December Month Number is: 12

In [25]:
print("12th  Month Name is:",dict1["Month_names"][11])

12th  Month Name is: December

In [ ]:
# 3.create a dict with flower names and flower colour and print red colour flowers and red colour flower names?

In [1]:
dict3={"flower_names":["Rose","Jasmine","Lotus","Lily","Mari Gold","Hibiscus","Tulip"],"Colour":["Red","White","Pink","White","Yellow","Red","Blue"]}
dict3

{'flower_names': ['Rose',
  'Jasmine',
  'Lotus',
  'Lily',
  'Mari Gold',
  'Hibiscus',
  'Tulip'],
 'Colour': ['Red', 'White', 'Pink', 'White', 'Yellow', 'Red', 'Blue']}

In [2]:
print("Red Colour Flowers Names:",dict3["flower_names"][0],  dict3["flower_names"][5])

Red Colour Flowers Names: Rose Hibiscus

In [3]:
print("Flower Colours:",dict3["Colour"][0],  dict3["Colour"][5])

Flower Colours: Red Red

In [ ]:
# 1.create a list with your family members and print your favourite one in loop?
# 2.cretae a tuple with colour names and print fav colour in loop?

In [ ]:
#-----------------------> list[]

In [ ]:
# 1.create a list with your family members and print your favourite one in loop?

In [4]:
Family_members=["Md.Ali","Balkis Jaha","Shahnaz Begum","Afzal Shaw","Shakeela Begum"]

for S_Begum in Family_members:
    
    print("My Family member name:",S_Begum)

My Family member name: Md.Ali
My Family member name: Balkis Jaha
My Family member name: Shahnaz Begum
My Family member name: Afzal Shaw
My Family member name: Shakeela Begum

In [5]:
print("My Favorite One is:",Family_members[0])

My Favorite One is: Md.Ali

In [ ]:
#-------------------> tuple()

In [ ]:
# 2.cretae a tuple with colour names and print fav colour in loop?

In [6]:
Colour_names=("Pink","Yellow","Red","Blue","Green","Brown","Voilet","Orange","White","Black")

for Begum in Colour_names:
    
     print("Colour Name:",Begum)

Colour Name: Pink
Colour Name: Yellow
Colour Name: Red
Colour Name: Blue
Colour Name: Green
Colour Name: Brown
Colour Name: Voilet
Colour Name: Orange
Colour Name: White
Colour Name: Black

In [7]:
print("My Favorite Colour is:",Colour_names[0])

My Favorite Colour is: Pink