In [ ]:
#---------------------> For loop ------> list[]

In [ ]:
# 6. Create a list (friend_names) with your friends names (atlease 10 names)?
#    print all names with in loop
#    Expected Output: my friend name is "ravi"
#               my friend name is "shamker"

In [1]:
friend_names=["Shabana","Hanima","Rehana","Mallika","Aliya","Hamida","Sabera","Sony","Raziya","Mallika","Shafheka","Hanima"]

for S in friend_names:
    print("My friend name is:",S)

My friend name is: Shabana
My friend name is: Hanima
My friend name is: Rehana
My friend name is: Mallika
My friend name is: Aliya
My friend name is: Hamida
My friend name is: Sabera
My friend name is: Sony
My friend name is: Raziya
My friend name is: Mallika
My friend name is: Shafheka
My friend name is: Hanima

In [ ]:
# 7. Create a list(family_members) with your family members names (at least 10 names)? 
# print all names with in loop

In [2]:
family_members=["Md.Ali","Balkis Jaha","Shahnaz Begum","Irfan","Afzal Shaw","Shamshad Begum","Shakeela Begum","Shamshad Begum","Irfan","Md.Karamatulla","Shannu","Banu"]

for SB in family_members:
    print(SB)

Md.Ali
Balkis Jaha
Shahnaz Begum
Irfan
Afzal Shaw
Shamshad Begum
Shakeela Begum
Shamshad Begum
Irfan
Md.Karamatulla
Shannu
Banu

In [4]:
for SB in family_members:
    print("My family member:",SB)

My family member: Md.Ali
My family member: Balkis Jaha
My family member: Shahnaz Begum
My family member: Irfan
My family member: Afzal Shaw
My family member: Shamshad Begum
My family member: Shakeela Begum
My family member: Shamshad Begum
My family member: Irfan
My family member: Md.Karamatulla
My family member: Shannu
My family member: Banu

In [ ]:
# 8. Create  a list (food_names) with your favorite food names ( at leaste 10 names only veg)?
# print all names with in loop

In [5]:
food_names=["Idly","Onion Dosa","Minapa Bajji","Masala Wada","Masala Dosa","Mysoor Bajji","Pesarattu","Punugulu","Puri","Semiya Upma"]

for S in food_names:
    print(S)

Idly
Onion Dosa
Minapa Bajji
Masala Wada
Masala Dosa
Mysoor Bajji
Pesarattu
Punugulu
Puri
Semiya Upma

In [6]:
for S in food_names:
    print("My favorite food name:",S)

My favorite food name: Idly
My favorite food name: Onion Dosa
My favorite food name: Minapa Bajji
My favorite food name: Masala Wada
My favorite food name: Masala Dosa
My favorite food name: Mysoor Bajji
My favorite food name: Pesarattu
My favorite food name: Punugulu
My favorite food name: Puri
My favorite food name: Semiya Upma

In [ ]:
#------------------------> For loop----------> tuple()

In [ ]:
# 9. Create a tuple(food_names) with your favorite food names(at leaste 10 names only nonveg)?
# print all names with in loop

In [7]:
nonveg_fnames=("Matton Curry","Chicken Curry","Matton Khurma","Matton Biryani","Chicken Biryani","Chicken fry","Matton fry","Fish  Curry","Fish fry","Prawns fry")

for Begum in nonveg_fnames:
    print(Begum)

Matton Curry
Chicken Curry
Matton Khurma
Matton Biryani
Chicken Biryani
Chicken fry
Matton fry
Fish  Curry
Fish fry
Prawns fry

In [8]:
for Begum in nonveg_fnames:
    print("My favorite Non.Veg food name:",Begum)

My favorite Non.Veg food name: Matton Curry
My favorite Non.Veg food name: Chicken Curry
My favorite Non.Veg food name: Matton Khurma
My favorite Non.Veg food name: Matton Biryani
My favorite Non.Veg food name: Chicken Biryani
My favorite Non.Veg food name: Chicken fry
My favorite Non.Veg food name: Matton fry
My favorite Non.Veg food name: Fish  Curry
My favorite Non.Veg food name: Fish fry
My favorite Non.Veg food name: Prawns fry

In [ ]:
#----------------------> For loop ---------> set{}

In [ ]:
# 10. Create a set(colour_names) with your colour names(at leaste 10 names)?
# print all names with in loop

In [9]:
Colour_names={"Pink","Yellow","Red","Blue","Green","Brown","Voilet","Orange","White","Black"}

for SBegum in Colour_names:
    
    print(SBegum)

Yellow
Green
Orange
Voilet
Red
Brown
White
Pink
Black
Blue

In [10]:
for SBegum in Colour_names:
    
    print("Colour Name:",SBegum)

Colour Name: Yellow
Colour Name: Green
Colour Name: Orange
Colour Name: Voilet
Colour Name: Red
Colour Name: Brown
Colour Name: White
Colour Name: Pink
Colour Name: Black
Colour Name: Blue

In [ ]:
#--------------------->For loop----------> list[]

In [ ]:
# 11. Cteatea list(month_names) with your month names(at leaste 10 names)?
# print all names with in loop

In [11]:
list=["January","February","March","April","May","June","July","August","September","October","November","December"]

for Begum in list:
    
    print(Begum)

January
February
March
April
May
June
July
August
September
October
November
December

In [12]:
# 12. print 9th table (1 to 90)

In [13]:
range(0,91,9)

for S in range(0,91,9):
    
    print(S)

0
9
18
27
36
45
54
63
72
81
90

In [ ]:
# 13. print 12th table (1 to 120)

In [14]:
range(0,121,12)

for B in range(0,121,12):
    
    print(B)

0
12
24
36
48
60
72
84
96
108
120