In [ ]:
#------------------------> Conditions

In [ ]:
syntax:

In [ ]:
if condition:
    statements
    statements

In [ ]:
conditions
3

In [ ]:
if-------------->True
if  else--------->True or False  &  Yes or No
if  elif  else--->More than two values

In [1]:
#Task_2:

# Write a program,  my age is more than 20 print teen_age other wise print younge_age?
# 	a.my_age is 20, who am i? Expected output: you are teen_age
# 	b.my_age is 30, who am i? Expected output: you are younge_age
# 	c.my_age is 10, who am i? 
# 	d.my_age is 40, who am i? 

my_age=20

if my_age==20:
    print("You are Teen age")
elif my_age==30:
    print("You are Young age")
elif my_age==10:
    print("You are Child")
elif my_age==40:  
    print("You are Middle age")
else:
    print("You are Old age")

You are Teen age

In [2]:
my_age=30

if my_age==20:
    print("You are Teen age")
elif my_age==30:
    print("You are Young age")
elif my_age==10:
    print("You are Child")
elif my_age==40:  
    print("You are Middle age")
else:
    print("You are Old age")

You are Young age

In [3]:
my_age=10

if my_age==20:
    print("You are Teen age")
elif my_age==30:
    print("You are Young age")
elif my_age==10:
    print("You are Child")
elif my_age==40:  
    print("You are Middle age")
else:
    print("You are Old age")

You are Child

In [4]:
my_age=40

if my_age==20:
    print("You are Teen age")
elif my_age==30:
    print("You are Young age")
elif my_age==10:
    print("You are Child")
elif my_age==40:  
    print("You are Middle age")
else:
    print("You are Old age")

You are Middle age

In [5]:
my_age=60

if my_age==20:
    print("You are Teen age")
elif my_age==30:
    print("You are Young age")
elif my_age==10:
    print("You are Child")
elif my_age==40:  
    print("You are Middle age")
else:
    print("You are Old age")

You are Old age

In [6]:
# Write a program today is Monday/Tuesday/Wendsday/Thursday/Friday print weekday otherwise print weekend?

In [7]:
Today="Monday"

if Today=="Monday":
    print("Weekday")
    
elif  Today=="Tuesday":
    print("Weekday")
    
elif  Today=="Wednesday":
    print("Weekday")
    
elif  Today=="Thursday":
    print("Weekday")
          
elif  Today=="Friday":
    print("Weekday")
          
else:
    print("Weekend")

Weekday

In [8]:
Today="Saturday"

if Today=="Monday":
    print("Weekday")
    
elif  Today=="Tuesday":
    print("Weekday")
    
elif  Today=="Wednesday":
    print("Weekday")
    
elif  Today=="Thursday":
    print("Weekday")
          
elif  Today=="Friday":
    print("Weekday")
          
else:
    print("Weekend")

Weekend

In [9]:
Today="Thursday"

if Today=="Monday":
    print("Weekday")
    
elif  Today=="Tuesday":
    print("Weekday")
    
elif  Today=="Wednesday":
    print("Weekday")
    
elif  Today=="Thursday":
    print("Weekday")
          
elif  Today=="Friday":
    print("Weekday")
          
else:
    print("Weekend")

Weekday

In [10]:
Today="Sunday"

if Today=="Monday":
    print("Weekday")
    
elif  Today=="Tuesday":
    print("Weekday")
    
elif  Today=="Wednesday":
    print("Weekday")
    
elif  Today=="Thursday":
    print("Weekday")
          
elif  Today=="Friday":
    print("Weekday")
          
else:
    print("Weekend")

Weekend

In [11]:
# Task_3:

# Scenario1: Today my business income is 10/- if my income is more than 10/- then print "i am profitable" otherwise print "i lost"
# ఈ రోజు నా ఆదాయం 10. నా ఆదాయం 10 కంటే ఎక్కువ ఉంటే ప్రింట్ నేను లాభదాయకంగా ఉన్నాను లేకపోతే నేను పోగొట్టుకున్నాను.

In [12]:
My_income=20

if My_income>10:
    print("I am Profitable")
else:
    print("I Lost")

I am Profitable

In [13]:
My_income=9

if My_income>10:
    print("I am Profitable")
else:
    print("I Lost")

I Lost

In [14]:
My_income=10

if My_income>10:
    print("I am Profitable")
else:
    print("I Lost")

I Lost

In [15]:
# cenario2: your age is more than your sister age then print "i am elder" otherwise print "i am younger"
# మీ వయస్సు మీ సోదరి వయస్సు కంటే ఎక్కువగా ఉంటే, నేను పెద్దవాడిని అని ముద్రించండి లేకపోతే నేను చిన్నవాడిని అని ముద్రించండి

my_age=35
my_sis_age=25

if my_age>my_sis_age:
    
    print("I am Elder")
else:
    print("I am Younger")

I am Elder

In [16]:
my_age=20
my_sis_age=25

if my_age>my_sis_age:
    
    print("I am Elder")
else:
    print("I am Younger")

I am Younger

In [17]:
# Scenario3:festival offer in my shop. 
# purchase amount more than 100 then print 30% discount.
# purchase amount less than 50 then print 10% discount 
# otherwise print 20% discount.	
# నా దుకాణంలో పండుగ ఆఫర్. కొనుగోలు మొత్తం 100 కంటే ఎక్కువ, ఆపై ప్రింట్ 30% తగ్గింపు. 50 కంటే తక్కువ మొత్తాన్ని కొనుగోలు చేసి, ఆపై 10% తగ్గింపును ప్రింట్ చేయండి లేకపోతే 20% తగ్గింపును ప్రింట్ చేయండి
# मेरी दुकान में त्योहार की पेशकश। खरीद राशि 100 से अधिक तो 30% छूट प्रिंट करें। खरीद राशि 50 से कम है तो 10% छूट प्रिंट करें अन्यथा 20% छूट प्रिंट करें।

In [18]:
pur_amount=120

if pur_amount>100:
    print("30% discount")
    
elif pur_amount<50:
     print("10% discount")
    
else:
     print("20% discount")

30% discount

In [19]:
pur_amount=30

if pur_amount>100:
    print("30% discount")
    
elif pur_amount<50:
     print("10% discount")
    
else:
     print("20% discount")

10% discount

In [20]:
pur_amount=80

if pur_amount>100:
    print("30% discount")
    
elif pur_amount<50:
     print("10% discount")
    
else:
     print("20% discount")

20% discount

In [21]:
 # Scenario4:my movie theater prices. price is 140 print balcony. price is 50 print chair. price is 100 print bench
 
# నా సినిమా థియేటర్ ధరలు. ధర 140 ప్రింట్ బాల్కనీ. ధర 50 ప్రింట్ కుర్చీ. ధర 100 ప్రింట్ బెంచ్

In [22]:
price=140

if price==140:
    print("Balcony")
    
elif price==50:
    print("Chair")
    
elif price==100:
    print("Bench")
    
else:
    print("Not Available")

Balcony

In [23]:
price=100

if price==140:
    print("Balcony")
    
elif price==50:
    print("Chair")
    
elif price==100:
    print("Bench")
    
else:
    print("Not Available")

Bench

In [24]:
price=50

if price==140:
    print("Balcony")
    
elif price==50:
    print("Chair")
    
elif price==100:
    print("Bench")
    
else:
    print("Not Available")

Chair

In [25]:
price=40

if price==140:
    print("Balcony")
    
elif price==50:
    print("Chair")
    
elif price==100:
    print("Bench")
    
else:
    print("Not Available")

Not Available

In [26]:
# Scenario5: my showroom vehicle types. 
# if vehicle type is two wheeler print bike and scooty. 
# if vehicle type is four wheeler print car, loory, van and zeep
# నా షోరూమ్ వాహనాల రకాలు. వాహనం రకం టూ వీలర్ ప్రింట్ బైక్ మరియు స్కూటీ అయితే. వాహనం రకం ఫోర్ వీలర్ ప్రింట్ కారు అయితే, లూరీ, వ్యాన్ మరియు జీప్

In [40]:
Vehicle_type="Two Wheeler"

if Vehicle_type=="Two Wheeler":
    print("Bike and Scooty")

elif Vehicle_type=="Four Wheeler":
    print("Car, Loory, Van and Zeep")
    
else:
    print("Not Available")

Bike and Scooty

In [41]:
Vehicle_type="Four Wheeler"

if Vehicle_type=="Two Wheeler":
    print("Bike and Scooty")

elif Vehicle_type=="Four Wheeler":
    print("Car, Loory, Van and Zeep")
    
else:
    print("Not Available")

Car, Loory, Van and Zeep

In [42]:
Vehicle_type="Three Wheeler"

if Vehicle_type=="Two Wheeler":
    print("Bike and Scooty")

elif Vehicle_type=="Four Wheeler":
    print("Car, Loory, Van and Zeep")
    
else:
    print("Not Available")

Not Available