In [ ]:
#----------------->list[]

In [1]:
Names=["Jaya","Lakshmi","Sunitha","Radha","Ganga"]
Names

['Jaya', 'Lakshmi', 'Sunitha', 'Radha', 'Ganga']

In [2]:
Names[3]="Radhika"
Names

['Jaya', 'Lakshmi', 'Sunitha', 'Radhika', 'Ganga']

In [3]:
print("My Friends Names are:",Names)

My Friends Names are: ['Jaya', 'Lakshmi', 'Sunitha', 'Radhika', 'Ganga']

In [4]:
Names[0:4]

['Jaya', 'Lakshmi', 'Sunitha', 'Radhika']

In [5]:
Names[0:2]

['Jaya', 'Lakshmi']

In [6]:
Names[0]

'Jaya'

In [ ]:
#------------------>tuple()

In [8]:
Friends_Names=("Jaya","Lakshmi","Sunitha","Radha","Ganga")
Friends_Names

('Jaya', 'Lakshmi', 'Sunitha', 'Radha', 'Ganga')

In [ ]:
#-------------------->set{}

In [10]:
Numbers={5,3,7,2,9,1,4,6,10,8}
Numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [11]:
dict={"Fruits":["Apple","Banana","Grapes","Gueva","Orange"],"Rating":[5,10,15,20,25]}
dict

{'Fruits': ['Apple', 'Banana', 'Grapes', 'Gueva', 'Orange'],
 'Rating': [5, 10, 15, 20, 25]}

In [12]:
dict={"Friends_Names":["Jaya","Lakshmi","Sunitha","Radha","Ganga"]}
dict

{'Friends_Names': ['Jaya', 'Lakshmi', 'Sunitha', 'Radha', 'Ganga']}

In [ ]:
#---------------->Conditions

In [ ]:
if condition:
    statements
    statements

In [ ]:
conditions
3

In [ ]:
if-------------->True
if  else--------->True or False  &  Yes or No
if  elif  else--->More than two values

In [13]:
milk_sales=20
milk_sales

20

In [14]:
comparision_value =25
comparision_value

25

In [15]:
milk_sales=30

if milk_sales>=comparision_value:
    print("Today Business is Profit")

Today Business is Profit

In [ ]:
Two Conditions

if
else

In [ ]:
25 & above profit
25 below loss

In [1]:
milk_sales=30
comparision_value=25

if milk_sales>=comparision_value:
    print("Business is Profit")
else:
    print("Business is loss")

Business is Profit

In [2]:
milk_sales=20
comparision_value=25

if milk_sales>=comparision_value:
    print("Business is Profit")
else:
    print("Business is loss")

Business is loss

In [ ]:
syntax;

In [ ]:
if condition:
    statement
elif condition:
    statement
elif condition:
    statement
elif condition:
    statement
else:    
    statement

In [ ]:
logical operators

and  or  not

In [3]:
milk_sales=10

if milk_sales>=30:
    print("Business is Profit")
elif milk_sales>25 and  milk_sales<30:
    print("Business is above average")
elif milk_sales>20 and milk_sales<25:
    print("Business is average")
else:
    print(" Bussiness is Loss")

 Bussiness is Loss

In [ ]:
syntax:
    for s in seq:
        statement
        statement1

In [ ]:
list/tuple/dict/set

In [4]:
lst=["Jaya","Lakshmi","Sunitha","Radha","Ganga"]
lst

['Jaya', 'Lakshmi', 'Sunitha', 'Radha', 'Ganga']

In [ ]:
for:

In [5]:
for S in lst:
    print("My friend name is:",S)

My friend name is: Jaya
My friend name is: Lakshmi
My friend name is: Sunitha
My friend name is: Radha
My friend name is: Ganga

In [6]:
for S in lst:
    print(S)

Jaya
Lakshmi
Sunitha
Radha
Ganga

In [7]:
F_Names=["Jaya","Lakshmi","Sunitha","Radha","Gamya"]

for SB in F_Names:
    print(SB)

Jaya
Lakshmi
Sunitha
Radha
Gamya

In [8]:
F_Names=["Jaya","Lakshmi","Sunitha","Radha","Ganga"]
print(F_Names[3])

Radha

In [9]:
F_Names=["Jaya","Lakshmi","Sunitha","Radha","Ganga"]
print(F_Names[-2])

Radha

In [10]:
marks=[40,50,60,70,80]

In [ ]:
5 addition

In [11]:
for marksupdate in marks:
    print("Actual value is:",marksupdate)
    new_addition = marksupdate+5
    print("Additional value is:",new_addition)

Actual value is: 40
Additional value is: 45
Actual value is: 50
Additional value is: 55
Actual value is: 60
Additional value is: 65
Actual value is: 70
Additional value is: 75
Actual value is: 80
Additional value is: 85

In [ ]:
#------------------------------->1. list[]

In [12]:
#1. Create a list (friend_names) with your friend names (10 names)

lst=["Rajini","Lakshmi","Sunitha","Radha","Gamya","Priya","Divya","Jyothi","Swapna","Revathi"]

print(lst)

['Rajini', 'Lakshmi', 'Sunitha', 'Radha', 'Gamya', 'Priya', 'Divya', 'Jyothi', 'Swapna', 'Revathi']

In [ ]:
#------------------------------->2. tuple()

In [13]:
#2. Create a tuple (family_members) with your family members?

tuple=("Mohammad Ali","Balkis Jaha","Shahanaz Begum","Irfhan","Afzal Shaw","Shamshad","Md. Karamatulla","Shannu","Bhanu","Shakeeela")

print(tuple)

('Mohammad Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Irfhan', 'Afzal Shaw', 'Shamshad', 'Md. Karamatulla', 'Shannu', 'Bhanu', 'Shakeeela')

In [ ]:
#-------------------------------->3. set{}

In [14]:
#3. Create a set (colours) with colour names(10 names)?

set={"Red","Green","Yellow","Brown","White","Blue","Pink","Voilet","Orange","Black"}

print(set)

{'Green', 'Orange', 'Red', 'Voilet', 'Black', 'Yellow', 'White', 'Blue', 'Brown', 'Pink'}

In [15]:
#4. month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?

set={8,5,2,9,6,4,1,7,3,8,5,10}

print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#--------------------------------->4. Dictionary {}

In [16]:
#5. Create a dict with your family members(at least 10 names)?

dict={"family_members":["Md. Ali","Balkis Jaha","Shahanaz Begum","Irfhan","Afzal Shaw","Shakeela Begum","Shamshad Begum","Md. Karamatulla","Shannu","Bhanu"]}

print(dict)

{'family_members': ['Md. Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Irfhan', 'Afzal Shaw', 'Shakeela Begum', 'Shamshad Begum', 'Md. Karamatulla', 'Shannu', 'Bhanu']}

In [17]:
dict={"family_members":["Md. Ali","Balkis Jaha","Shahanaz Begum","Irfhan","Afzal Shaw","Shakeela Begum","Shamshad Begum","Md. Karamatulla","Shannu","Bhanu"],"Relation":["Father","Mother","Sister","Brother","Sister","Me","Husband","Daughter","Daughter"]}

print(dict)

{'family_members': ['Md. Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Irfhan', 'Afzal Shaw', 'Shakeela Begum', 'Shamshad Begum', 'Md. Karamatulla', 'Shannu', 'Bhanu'], 'Relation': ['Father', 'Mother', 'Sister', 'Brother', 'Sister', 'Me', 'Husband', 'Daughter', 'Daughter']}

In [18]:
dict

{'family_members': ['Md. Ali',
  'Balkis Jaha',
  'Shahanaz Begum',
  'Irfhan',
  'Afzal Shaw',
  'Shakeela Begum',
  'Shamshad Begum',
  'Md. Karamatulla',
  'Shannu',
  'Bhanu'],
 'Relation': ['Father',
  'Mother',
  'Sister',
  'Brother',
  'Sister',
  'Me',
  'Husband',
  'Daughter',
  'Daughter']}

In [1]:
print(dict)

<class 'dict'>

In [ ]:
import pandas as pd
df=pd.DataFrame(dict)
df