In [1]:
#------------------------------->1. list[]

In [2]:
#1. Create a list (friend_names) with your friend names (10 names)?

In [3]:
list=['Lalitha', 'Swapna', 'Dhanushka', 'Rajeswari', 'Sowmya', 'Devika', 'Jabeena', 'Hanima', 'Munni', 'Parveen']

In [4]:
print(list)

['Lalitha', 'Swapna', 'Dhanushka', 'Rajeswari', 'Sowmya', 'Devika', 'Jabeena', 'Hanima', 'Munni', 'Parveen']

In [5]:
#------------------------------->2. tuple()

In [6]:
#2. Create a tuple (family_members) with your family members?

In [7]:
tuple=("Mohammad Ali","Balkis Jaha","Shahanaz Begum","Abdul Haffiz","Yunus Pasha","Hamidunnisa","Afzal Shaw","Arifa","Shakeela","Md. Sirajuddin")

In [8]:
print(tuple)

('Mohammad Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Abdul Haffiz', 'Yunus Pasha', 'Hamidunnisa', 'Afzal Shaw', 'Arifa', 'Shakeela', 'Md. Sirajuddin')

In [9]:
#-------------------------------->3. set{}

In [10]:
#3. Create a set (colours) with colour names(10 names)?

In [11]:
set={"Red","Green","Yellow","Brown","White","Blue","Black","Voilet","Orange","Pink"}

In [12]:
print(set)

{'Blue', 'Black', 'White', 'Yellow', 'Red', 'Pink', 'Voilet', 'Green', 'Brown', 'Orange'}

In [13]:
#4. month_names=[1,9,10,5,3,2,7,8,6,4] , sort the list--> write a program?

In [14]:
set={2,4,10,5,3,7,9,1,6,8}

In [15]:
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [1]:
#--------------------------------->4. Dictionary{}

In [ ]:
#5. Create a dict with your family members(at least 10 names)?

In [2]:
dict={"family members":["Mohammad Ali","Balkis Jaha","Shahanaz Begum","Abdul Haffiz","Afzal Shaw","Arifa","Md. Karamatulla","Shannu","Bhanu","Shakeela Begum","Md. Sirajuddin"]}
dict

{'family members': ['Mohammad Ali',
  'Balkis Jaha',
  'Shahanaz Begum',
  'Abdul Haffiz',
  'Afzal Shaw',
  'Arifa',
  'Md. Karamatulla',
  'Shannu',
  'Bhanu',
  'Shakeela Begum',
  'Md. Sirajuddin']}

In [3]:
dict

{'family members': ['Mohammad Ali',
  'Balkis Jaha',
  'Shahanaz Begum',
  'Abdul Haffiz',
  'Afzal Shaw',
  'Arifa',
  'Md. Karamatulla',
  'Shannu',
  'Bhanu',
  'Shakeela Begum',
  'Md. Sirajuddin']}

In [4]:
print(dict)

{'family members': ['Mohammad Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Abdul Haffiz', 'Afzal Shaw', 'Arifa', 'Md. Karamatulla', 'Shannu', 'Bhanu', 'Shakeela Begum', 'Md. Sirajuddin']}

In [5]:
dict={"family members":["Mohammad Ali","Balkis Jaha","Shahanaz Begum","Abdul Haffiz","Afzal Shaw","Arifa","Md. Karamatulla","Shannu","Bhanu","Shakeela Begum","Md. Sirajuddin"],"Relation":["Father","Mother","Sister","Brother-in-law","Brother","Sister-in-law","Husbend","Daughter","Daughter","Sister","Brother-in-law"]}
dict

{'family members': ['Mohammad Ali',
  'Balkis Jaha',
  'Shahanaz Begum',
  'Abdul Haffiz',
  'Afzal Shaw',
  'Arifa',
  'Md. Karamatulla',
  'Shannu',
  'Bhanu',
  'Shakeela Begum',
  'Md. Sirajuddin'],
 'Relation': ['Father',
  'Mother',
  'Sister',
  'Brother-in-law',
  'Brother',
  'Sister-in-law',
  'Husbend',
  'Daughter',
  'Daughter',
  'Sister',
  'Brother-in-law']}

In [6]:
print(dict)

{'family members': ['Mohammad Ali', 'Balkis Jaha', 'Shahanaz Begum', 'Abdul Haffiz', 'Afzal Shaw', 'Arifa', 'Md. Karamatulla', 'Shannu', 'Bhanu', 'Shakeela Begum', 'Md. Sirajuddin'], 'Relation': ['Father', 'Mother', 'Sister', 'Brother-in-law', 'Brother', 'Sister-in-law', 'Husbend', 'Daughter', 'Daughter', 'Sister', 'Brother-in-law']}

In [7]:
import pandas as pd
df=pd.DataFrame(dict)
df

     family members        Relation
0      Mohammad Ali          Father
1       Balkis Jaha          Mother
2    Shahanaz Begum          Sister
3      Abdul Haffiz  Brother-in-law
4        Afzal Shaw         Brother
5             Arifa   Sister-in-law
6   Md. Karamatulla         Husbend
7            Shannu        Daughter
8             Bhanu        Daughter
9    Shakeela Begum          Sister
10   Md. Sirajuddin  Brother-in-law

In [8]:
df.keys()

Index(['family members', 'Relation'], dtype='object')

In [9]:
#------------------------5. slicing

In [10]:
df["family members"][0]

'Mohammad Ali'

In [11]:
df["family members"][1]

'Balkis Jaha'

In [12]:
df["Relation"][0]

'Father'

In [13]:
df["Relation"][1]

'Mother'

In [14]:
df["family members"][6]

'Md. Karamatulla'

In [15]:
df["Relation"][6]

'Husbend'

In [16]:
df["family members"][8]

'Bhanu'

In [17]:
df["Relation"][8]

'Daughter'

In [18]:
df["family members"][0:6]

0      Mohammad Ali
1       Balkis Jaha
2    Shahanaz Begum
3      Abdul Haffiz
4        Afzal Shaw
5             Arifa
Name: family members, dtype: object

In [19]:
df["Relation"][0:6]

0            Father
1            Mother
2           Sistetr
3    Brother-in-law
4           Brother
5     Sister-in-law
Name: Relation, dtype: object

In [20]:
df["family members"][6:11]

6     Md. Karamatulla
7              Shannu
8               Bhanu
9      Shakeela Begum
10     Md. Sirajuddin
Name: family members, dtype: object

In [21]:
df["Relation"][6:11]

6            Husbend
7           Daughter
8           Daughter
9             Sister
10    Brother-in-law
Name: Relation, dtype: object

In [22]:
df["family members"][:-5]

0      Mohammad Ali
1       Balkis Jaha
2    Shahanaz Begum
3      Abdul Haffiz
4        Afzal Shaw
5             Arifa
Name: family members, dtype: object

In [23]:
df["Relation"][:-5]

0            Father
1            Mother
2           Sistetr
3    Brother-in-law
4           Brother
5     Sister-in-law
Name: Relation, dtype: object

In [24]:
df["family members"][-5:]

6     Md. Karamatulla
7              Shannu
8               Bhanu
9      Shakeela Begum
10     Md. Sirajuddin
Name: family members, dtype: object

In [25]:
df["Relation"][-5:]

6            Husbend
7           Daughter
8           Daughter
9             Sister
10    Brother-in-law
Name: Relation, dtype: object

In [26]:
df["family members"][6:9]

6    Md. Karamatulla
7             Shannu
8              Bhanu
Name: family members, dtype: object

In [27]:
df["Relation"][6:9]

6     Husbend
7    Daughter
8    Daughter
Name: Relation, dtype: object

In [1]:
#------------------------->6.conditions

In [ ]:
1.#Write a program,  my age is more than 20 print teen_age other wise print younge_age?
#a.my_age is 20, who am i? Expected output: you are teen_age
#b.my_age is 30, who am i? Expected output: you are younge_age
#c.my_age is 10, who am i? 
#d.my_age is 40, who am i?

In [2]:
my_age=20

if my_age==20:
    print("You are Teen_age")
else:
    print("You are Younge_age")

You are Teen_age

In [3]:
my_age=30

if my_age==30:
    print("You are Younge_age")
else:
    print("You are Teen_age")

You are Younge_age

In [4]:
my_age=10

if my_age==10:
    print("You are Children")
else:
    print("You are Younge_age")

You are Children

In [5]:
my_age=40

if my_age==40:
    print("You are Middle_age")
else:
    print("You are Younge_age")

You are Middle_age

In [6]:
#2.Write a program today is Monday/Tuesday/Wendsday/Thursday/Friday print weekday otherwise print weekend?

Today="Monday"

if Today=="Monday":
    print("Weekday")
    
elif Today=="Tuesday":
    print("Weekday")  
    
elif Today=="Wendsday":
    print("Weekday")  
    
elif Today=="Thursday":
    print("Weekday")  
    
elif Today=="Friday":
    print("Weekday")  
    
else:
    print("Weekend")

Weekday

In [7]:

Today="Saturday"

if Today=="Monday":
    print("Weekday")
    
elif Today=="Tuesday":
    print("Weekday")  
    
elif Today=="Wendsday":
    print("Weekday")  
    
elif Today=="Thursday":
    print("Weekday")  
    
elif Today=="Friday":
    print("Weekday")  
    
else:
    print("Weekend")

Weekend

In [8]:
Today="Friday"

if Today=="Monday":
    print("Weekday")
    
elif Today=="Tuesday":
    print("Weekday")  
    
elif Today=="Wendsday":
    print("Weekday")  
    
elif Today=="Thursday":
    print("Weekday")  
    
elif Today=="Friday":
    print("Weekday")  
    
else:
    print("Weekend")

Weekday

In [9]:
#Task_3:
#Scenario1: Today my business income is 10/- if my income is more than 10/- then print "i am profitable" otherwise print "i lost"
#ఈ రోజు నా ఆదాయం 10. నా ఆదాయం 10 కంటే ఎక్కువ ఉంటే ప్రింట్ నేను లాభదాయకంగా ఉన్నాను లేకపోతే నేను పోగొట్టుకున్నాను.

My_income=10

if My_income>10:
    print("I am Profitable")
else:
    print("I Lost")

I Lost

In [10]:
My_income=60

if My_income>10:
    print("I am Profitable")
else:
    print("I Lost")

I am Profitable

In [11]:
#Scenario2: your age is more than your sister age then print "i am elder" otherwise print "i am younger"
#మీ వయస్సు మీ సోదరి వయస్సు కంటే ఎక్కువగా ఉంటే, నేను పెద్దవాడిని అని ముద్రించండి లేకపోతే నేను చిన్నవాడిని అని ముద్రించండి

Your_age=35
Sister_age=25

if Your_age>Sister_age:
    
    print("I am Elder")
else:
    print("I am Younger")

I am Elder

In [12]:
Your_age=35
Sister_age=45

if Your_age>Sister_age:
    
    print("I am Elder")
else:
    print("I am Younger")

I am Younger

In [13]:
#Scenario3:festival offer in my shop. 
#purchase amount more than 100 then print 30% discount.
# purchase amount less than 50 then print 10% discount 
#otherwise print 20% discount.	
# నా దుకాణంలో పండుగ ఆఫర్. కొనుగోలు మొత్తం 100 కంటే ఎక్కువ, ఆపై ప్రింట్ 30% తగ్గింపు. 50 కంటే తక్కువ మొత్తాన్ని కొనుగోలు చేసి, ఆపై 10% తగ్గింపును ప్రింట్ చేయండి లేకపోతే 20% తగ్గింపును ప్రింట్ చేయండి
#मेरी दुकान में त्योहार की पेशकश। खरीद राशि 100 से अधिक तो 30% छूट प्रिंट करें। खरीद राशि 50 से कम है तो 10%

Pur_amount=150

if Pur_amount>100:
    
    print("Discount : 30%")
    
elif Pur_amount<50:
    
    print("Discount : 10%")
    
else:
    print("Discount : 20%")

Discount : 30%

In [14]:
Pur_amount=40

if Pur_amount>100:
    
    print("Discount : 30%")
    
elif Pur_amount<50:
    
    print("Discount : 10%")
    
else:
    print("Discount : 20%")

Discount : 10%

In [15]:
Pur_amount=80

if Pur_amount>100:
    
    print("Discount : 30%")
    
elif Pur_amount<50:
    
    print("Discount : 10%")
    
else:
    print("Discount : 20%")

Discount : 20%

In [17]:
#Scenario4:my movie theater prices. price is 140 print balcony. price is 50 print chair. price is 100 print bench
 #నా సినిమా థియేటర్ ధరలు. ధర 140 ప్రింట్ బాల్కనీ. ధర 50 ప్రింట్ కుర్చీ. ధర 100 ప్రింట్ బెంచ్
    
Price=100

if Price==140:
    
    print("Balcony")
    
elif Price==50:
    
    print("Chair")
    
elif Price==100:
    
    print("Bench")

Bench

In [19]:
Price=140

if Price==140:
    
    print("Balcony")
    
elif Price==50:
    
    print("Chair")
    
elif Price==100:
    
    print("Bench")

Balcony

In [20]:
Price=50

if Price==140:
    
    print("Balcony")
    
elif Price==50:
    
    print("Chair")
    
elif Price==100:
    
    print("Bench")

Chair

In [21]:
#Scenario5: my showroom vehicle types. 
#if vehicle type is two wheeler print bike and scooty. 
#if vehicle type is four wheeler print car, loory, van and zeep
#నా షోరూమ్ వాహనాల రకాలు. వాహనం రకం టూ వీలర్ ప్రింట్ బైక్ మరియు స్కూటీ అయితే. వాహనం రకం ఫోర్ వీలర్ ప్రింట్ కారు అయితే, లూరీ, వ్యాన్ మరియు జీప్

Vehicle="Two Wheeler"

if Vehicle=="Two Wheeler":
    
    print("Bike and Scooty")
    
elif Vehicle=="Four Wheeler":
    
    print("Car, Loory, Van and Zeep")
    
else:
     print("No Available")

Bike and Scooty

In [22]:
Vehicle="Two Wheeler"

if Vehicle=="Two Wheeler":
    
    print("Bike and Scooty")
    
else:
    
    print("Car, Loory, Van and Zeep")

Bike and Scooty

In [23]:
Vehicle="Four Wheeler"

if Vehicle=="Two Wheeler":
    
    print("Bike and Scooty")
    
else:
    
    print("Car, Loory, Van and Zeep")

Car, Loory, Van and Zeep

In [24]:
#-------------------->7. list[] ---------> with in  loops

In [26]:
#1.Create a list(friend_names) with your friends names(atleaste 10 names)?
#print all names with in loop 
#Expected Output: my friend name is "ravi"
#my friend name is "shanker"

list=["Lalitha","Swapna","Dhanushka","Rajeswari","Sowmya","Devika","Jabeena","Hanima","Munni","Parveen"]

for friend_names in list:
    
    print("************* My Friend Name is *************",friend_names)

************* My Friend Name is ************* Lalitha
************* My Friend Name is ************* Swapna
************* My Friend Name is ************* Dhanushka
************* My Friend Name is ************* Rajeswari
************* My Friend Name is ************* Sowmya
************* My Friend Name is ************* Devika
************* My Friend Name is ************* Jabeena
************* My Friend Name is ************* Hanima
************* My Friend Name is ************* Munni
************* My Friend Name is ************* Parveen

In [27]:
#2.Create a list(family_members) with your family members names(atleaste 10 names)?
#print all names with in loop 

list=["Mohammad Ali","Balkis Jaha","Shahanaz Begum","Abdul Haffiz","Afzal Shaw","Arifa","Md. Karamatulla","Shannu","Bhanu","Shakeela Begum","Md. Sirajuddin"]

for Shamshad in list:
    
    print("&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&&",Shamshad)

&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Mohammad Ali
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Balkis Jaha
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Shahanaz Begum
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Abdul Haffiz
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Afzal Shaw
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Arifa
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Md. Karamatulla
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Shannu
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Bhanu
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Shakeela Begum
&&&&&&&&&&&&&& My Family Members Names are &&&&&&&&&&&&&&& Md. Sirajuddin

In [28]:
#3.Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
#print all names with in loop 

list=["Tomato","Lady's finger","Brinjal","Potato","Bitter gourd","Bottle gourd","Sanke gourd","Cabbage","Cucumber","Capsicum"]

for Begum in list:
    
    print("%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%%",Begum )

%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Tomato
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Lady's finger
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Brinjal
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Potato
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Bitter gourd
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Bottle gourd
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Sanke gourd
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Cabbage
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Cucumber
%%%%%%%%%%%%%%%%%% My Favorite Veg Food Names %%%%%%%%%%%%%%%% Capsicum

In [ ]:
#--------------------->8. tuple()----------->with in loops

In [1]:
#4.Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
#print all names with in loop 

tuple=("Matton Biryani","Matton Khurma","Fish Curry","Prawns Curry","Chicken Biryani","Matton Fry","Chicken Fry","Fish Fry","Prawns Fry","Kheema")

for S_Begum in tuple:
    
    print("@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@", S_Begum)

@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Matton Biryani
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Matton Khurma
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Fish Curry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Prawns Curry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Chicken Biryani
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Matton Fry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Chicken Fry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Fish Fry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Prawns Fry
@@@@@@@@@@@@@@@@@@@@ My Favorite Non_Veg Food Names @@@@@@@@@@@@@@@@@@ Kheema

In [ ]:
#--------------------->9. set{}-----------> with in loops

In [2]:
#5.Create a set(colour_names) with your colour names(atleaste 10 names)?
#print all names with in loop 

set={"Red","Green","Blue","Yellow","Pink","Orange","Brown","Voilet","White","Black"}
     
for Shammu in set:
     
    print("################### Colour Name #################",Shammu)

################### Colour Name ################# Pink
################### Colour Name ################# Red
################### Colour Name ################# Orange
################### Colour Name ################# Yellow
################### Colour Name ################# Voilet
################### Colour Name ################# White
################### Colour Name ################# Green
################### Colour Name ################# Black
################### Colour Name ################# Brown
################### Colour Name ################# Blue

In [ ]:
#---------------> list[] --------------->with in loop

In [3]:
#6.Creat a list(flower_names) with your favorite flower names(atleast 10 names)?
#print all names with in loop

list=["Rose","Lily","Jasmine","Mari Gold","Lotus","Champa","Sunflower","Hibiscus","Tulip","Dahlia"]

for Begum in list:
    
    print ("!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!!",Begum)

!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Rose
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Lily
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Jasmine
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Mari Gold
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Lotus
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Champa
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Sunflower
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Hibiscus
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Tulip
!!!!!!!!!!!!!!! My Favorite Flowers Names are !!!!!!!!!!!!!!!!! Dahlia

In [4]:
#7.Create a list(month_names) with your month names(atleaste 10 names)?
#print all names with in loop

list=["January","February","March","April","May","June","July","August","September","October","November","December"]

for SB in list:
    
    print("$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$",SB)

$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ January
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ February
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ March
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ April
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ May
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ June
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ July
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ August
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ September
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ October
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ November
$$$$$$$$$$$$$$$$ Month Names are $$$$$$$$$$$$$$$$$ December

In [ ]:
#range

In [5]:
#8.print 7th table (1 to 70)

range(0,75,7)

for S in range(0,75,7):
    
    print(S)

0
7
14
21
28
35
42
49
56
63
70

In [8]:
#9.print 13th table (1 to 130)

range(0,135,13)

for S in range(0,135,13):
    
    print(S)

0
13
26
39
52
65
78
91
104
117
130

In [10]:
#11.print 14th table (1 to 140)

range(0,145,14)

for SB in range(0,145,14):
    
    print(SB)

0
14
28
42
56
70
84
98
112
126
140

In [11]:
#10.print 9th table (1 to 90)

range(0,95,9)

for B in range(0,95,9):
    
    print(B)

0
9
18
27
36
45
54
63
72
81
90

In [1]:
range(0,300,5)

for Shamshad in range(0,300,5):
    
    print(Shamshad)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100
105
110
115
120
125
130
135
140
145
150
155
160
165
170
175
180
185
190
195
200
205
210
215
220
225
230
235
240
245
250
255
260
265
270
275
280
285
290
295

In [ ]:
#tuple

In [2]:
Ipl=("Kkr","Rcb","Csk","Srh")

for SB in Ipl:
    
    print(SB)

Kkr
Rcb
Csk
Srh

In [3]:
Ipl=("kkr","rcb","csk","srh")

for Ipl_team in Ipl:
    
    print("Ipl Team Name:",Ipl_team)

Ipl Team Name: kkr
Ipl Team Name: rcb
Ipl Team Name: csk
Ipl Team Name: srh

In [ ]:
#dict

In [4]:
Names={"f_members":["Md. Ali","Balkis Jaha","Afzal Shaw","Shahanaz Begum"]}

for S in Names ["f_members"]:
    
    print(S)

Md. Ali
Balkis Jaha
Afzal Shaw
Shahanaz Begum

In [5]:
Names={"Relation":["Father","Mother","Brother","Sister"]}

for B in Names["Relation"]:
    
    print(B)

Father
Mother
Brother
Sister