In [ ]:
syntax:
    for s in seq:
        statement
        statement1

In [ ]:
list/tuple/dict/set

In [1]:
lst=["Aadya","Bhavya","Chandana","Divya","Eswari"]
lst

['Aadya', 'Bhavya', 'Chandana', 'Divya', 'Eswari']

In [ ]:
for:

In [2]:
for Begum in lst:
    print("The student name is:",Begum)

The student name is: Aadya
The student name is: Bhavya
The student name is: Chandana
The student name is: Divya
The student name is: Eswari

In [3]:
f_names=["Asma","Shabana","Aliya","Mallika","Arshya","Shakeela","Rehyana","Asmat"]
for s in f_names:
    print(s)

Asma
Shabana
Aliya
Mallika
Arshya
Shakeela
Rehyana
Asmat

In [4]:
friend_names=["Ramya","Shafeeka","Jaya","Anitha","Lakshmi","Devika"]
for s in friend_names:
    print("My Friend Name is:",s)

My Friend Name is: Ramya
My Friend Name is: Shafeeka
My Friend Name is: Jaya
My Friend Name is: Anitha
My Friend Name is: Lakshmi
My Friend Name is: Devika

In [5]:
friend_names=["Ramya","Shafeeka","Jaya","Anitha","Lakshmi","Devika"]
for s in friend_names:
    print(s)

Ramya
Shafeeka
Jaya
Anitha
Lakshmi
Devika

In [6]:
friend_names=["Ramya","Shafeeka","Jaya","Anitha","Lakshmi","Devika"]
print(friend_names[3])

Anitha

In [7]:
print(friend_names[-4])

Jaya

In [8]:
marks=[15,25,35,45]

In [ ]:
5 addition

In [9]:
for marksupdate in marks:
    print ("Actual value is:",marksupdate)
    new_addition = marksupdate+5
    print("Additional value is:",new_addition)

Actual value is: 15
Additional value is: 20
Actual value is: 25
Additional value is: 30
Actual value is: 35
Additional value is: 40
Actual value is: 45
Additional value is: 50

In [ ]:
for conditions:

In [10]:
marks=[11,22,33,44]

In [ ]:
25 above 5
25 below 2

In [11]:
for marksnum in marks:
    print ("marks:",marksnum)
    if marksnum>25:
        print("Added value for above 25 ",marksnum+5)
    else:
        print("Added value below 25 ",marksnum+2)

marks: 11
Added value below 25  13
marks: 22
Added value below 25  24
marks: 33
Added value for above 25  38
marks: 44
Added value for above 25  49

In [1]:
Fruits=["Mango","Apple","Grapes","Orange","Banana"]

for Shamshad in Fruits:
    
    print(Shamshad)

Mango
Apple
Grapes
Orange
Banana

In [5]:
Fruits=["Mango","Apple","Grapes","Orange","Banana"]
Customer=["Shabana","Jyothi","Suseela","Deepika","Gamya"]

for S in Fruits:
    
    if S=="Mango":
        print("Delivery to Shabana")
        
    elif S=="Apple":
        print("Delivery to Jyothi")
        
    elif S=="Grapes":
        print("Delivery to Suseela") 
        
    elif S=="Orange":
        print("Delivery to Deepika")
        
    elif S=="Banana":
        print("Delivery to Gamya")
        
    else:
        print("No Delivery")

Delivery to Shabana
Delivery to Jyothi
Delivery to Suseela
Delivery to Deepika
Delivery to Gamya